@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or a specific component CSS file */

/* .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .card {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    width: 150px;
  }
  
  .card a {
    text-decoration: none;
    color: #ffffff;
  }
   */